In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('slots_ab_test.csv')
df.head()

   PlayerId Group  Spins  MeanWager PreferredGame  Spend
0         1     A      0          0    DragonGame    0.0
1         2     A      0          0    DragonGame    0.0
2         3     A     40     390000    DragonGame    0.0
3         4     A      0          0    DragonGame    0.0
4         5     A   8390      50000      ZeusGame    0.0

##### Data discovery &  data cleaning

At this stage, we should have some overview information about the dataset. we need to determine whether the data is cleaned or not, Are there any invalid values? Are there any abnormal points? And Do they normalize yet?. 

This dataset was cleaned without any invalid or abnormal values already.

In [50]:
print("Shape: ", df.shape)
df[['Spins','MeanWager', 'Spend']].describe()

Shape:  (400000, 6)

               Spins     MeanWager          Spend
count  400000.000000  4.000000e+05  400000.000000
mean      284.257725  3.228188e+05       0.837395
std      1166.926331  8.370621e+05       7.061384
min         0.000000  0.000000e+00       0.000000
25%         0.000000  0.000000e+00       0.000000
50%         0.000000  0.000000e+00       0.000000
75%       120.000000  2.600000e+05       0.000000
max     10000.000000  5.000000e+06      99.990000

There is no player existing in both groups as the number of unique PlayerId is equal to the number of rows (400k) in the dataset.

In [51]:
print("Number of unique Player: ", df['PlayerId'].nunique())
df.groupby('Group').PlayerId.nunique().reset_index()

Number of unique Player:  400000

  Group  PlayerId
0     A    200000
1     B    200000

##### Analyze the data

After having the overall about the entire dataset, I went deeper to the group level to get some insights. As we can see the mean and total spending of group B is higher than group A although the number of Spins and total MeanWager is pretty lower

In [52]:

df[['Group','Spins','MeanWager', 'Spend']].groupby('Group').sum()

          Spins    MeanWager      Spend
Group
A      68254200  74889080000  142139.52
B      45448890  54238430000  192818.59

In [53]:
df[['Group','Spins','MeanWager', 'Spend']].groupby('Group').mean()

           Spins  MeanWager     Spend
Group
A      341.27100  374445.40  0.710698
B      227.24445  271192.15  0.964093

Continuing to go into detail of PreferredGame to understand how they affect the different metrics between group A and Group B. As we can see the total values of DragonGame in Group A is higher and the total values of other types of game are lower than in Group B. It seems that the company are doing an experiment on this game and many players participated and switched to playing DragonGame during the test. In contrast, all metrics of PreferredGame in Group B seem to be balanced.

In [54]:
df[['Group','PreferredGame','Spins','MeanWager', 'Spend']].groupby(['Group','PreferredGame']).mean()

                          Spins      MeanWager     Spend
Group PreferredGame
A     CowboyGame     343.445888  371418.706591  0.706052
      DragonGame     343.336056  376301.716494  0.713344
      ZeusGame       334.908780  373738.219895  0.710022
B     CowboyGame     221.142494  270911.725168  0.969539
      DragonGame     228.948486  270414.283134  0.963250
      ZeusGame       231.677374  272249.557203  0.959461

In [55]:
df[['Group','PreferredGame','Spins','MeanWager', 'Spend']].groupby(['Group','PreferredGame']).sum()

                        Spins    MeanWager     Spend
Group PreferredGame
A     CowboyGame     17158900  18556450000  35275.07
      DragonGame     34463730  37772790000  71604.78
      ZeusGame       16631570  18559840000  35259.67
B     CowboyGame     14805490  18137540000  64910.62
      DragonGame     15208590  17963080000  63986.76
      ZeusGame       15434810  18137810000  63921.21

##### Conclusion

The more Spin times are the more players spend their time playing games. It can be a good signal to keep players stay with the company and increase the retention rate. However, Spending is a really important metric we should set high prioritize actually. Thus, in this case, I recommend rolling out group B.